# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env files
backend/.env
.env

# Django
backend/staticfiles/
backend/media/
*.log

# OS
.DS_Store
Thumbs.db

# Node (if present)
frontend/node_modules/
frontend/dist/
